:root {

    --black: rgba(29, 29, 27, 0.8);
    /* --pink: #F18701; */
    --pink: #EC8FBE;
    --white: #F5F5F5;
    --grey: #D8D4D5;
    --pale-pink: rgba(236, 142, 190, 0.5);
    --beige: #F4F2EE;
}