.footer {

    grid-area: footer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10vh;
    /* padding: 15px; */
    /* background-color: red; */
    width: 100%;
    /* position: absolute; */
    /* overflow: auto; */
    /* border: 1px solid rgba(0, 0, 0, 0.12); */
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
}

.footer button {
    padding: 15px;
}