.navbar {
    grid-area: nav;
    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    min-height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    width: 20%;  
    
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2em;
    
    background-color: #F3F0EC;

    color: var(--black);

    /* overflow: auto; */
}

.navbar button {
    font-size: 25px;
}

.opened-nav {
    z-index: 1;
    position: fixed;
    margin-left: 5%;
    margin-top: 5%;
}

.closed-navbar button {
    height: 15vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    /* margin-left: 5%;
    margin-top: 5%; */
}

/* .closed-navbar {
    height: 100vh;
} */

/* .navbar-menu {
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2em;
    
    color: var(--black);
} */

/* .navbar li {
    padding: 45px 0px;
} */

.nav-link:hover {
    color: var(--pink);
    transition: all 0.2s ease;
}

.nav-link.active {
    color: var(--pink);
}

/* Smallest device - landscape phones */
@media (min-width: 100px) and (max-width: 768px) {
    .navbar {
        width: 50%;
        height: 100vh;
    }
    .navbar-menu {
        /* flex-basis: 80%; */
        font-weight: 400;
        font-size: 18px;
    }

    .closed-navbar button {
        height: 10vh;
    }

    /* .navbar li {
        padding: 21px 0px;
    } */
}

/* From tablet to desktop */
@media (min-width: 768px) and (max-width: 900px) {
    .navbar {
        width: 30%;
        height: 100vh;
    }
}