.progress-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    /* transition: all 0.5s ease-out; */
}

.progress-bar p {
    color: var(--black);
    font-family: 'Inter', sans-serif;
    padding-left: 10px;
}