.timeline {
    margin: 50px 60px;
    height: 1px;
    /* background-color: var(--grey); */
    border: 1px dashed var(--grey);
    width: 80%;
}

.timeline-items {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -12px;
    display: flex;
    justify-content: space-between;
}

.timeline-item {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

/* ::before creates a pseudo-element that is the first child of the selected element. 
https://developer.mozilla.org/en-US/docs/Web/CSS/::before */
.timeline-item::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: var(--pale-pink);
    display: block;
    border-radius: 100%;
}

.timeline-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timeline-content p {
    top: 30px;
	width: 100px;
	border-radius: 5px;
	text-align: center;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.2em;
}

.timeline-content h3 {
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 0.2em;
}

.timeline-content h2 {
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.2em;
}