.timeline {
    /* margin: 50px 60px; */
    height: 1px;
    /* background-color: var(--grey); */
    border: 1px dashed var(--grey);
    width: 70%;
}

.timeline-items {
    margin-top: -8px;
    display: flex;
    justify-content: space-between;
}

.timeline-item {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

/* ::before creates a pseudo-element that is the first child of the selected element. 
https://developer.mozilla.org/en-US/docs/Web/CSS/::before */
/* .timeline-item::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: var(--pale-pink);
    display: block;
    border-radius: 100%;
} */

.timeline-content {
    color: var(--black);
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timeline-content p {
    top: 30px;
	width: 100px;
	/* border-radius: 5px; */
	text-align: center;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.2em;
}

.timeline-content h3 {
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 0.2em;
}

.timeline-content h2 {
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.2em;
}

@media (max-width: 990px) {
    .timeline-content p, h3 {
        font-size: 8px;
        line-height: 8px;
    }
    
    .timeline-content h2 {
        font-size: 12px;
        line-height: 15px;
        font-weight: 500;
    }
    
}

@media (max-width: 500px) {
    .timeline{
        /* transition: opacity 0.5s ease-out; */
        margin-top: 0;
        width: 160px;
        height: 260px;
        border-top-left-radius: 110px;
        border-top-right-radius: 110px;
        border-bottom: 0;
        transform: rotate(90deg);
    }
    
    .timeline-items {
        width: inherit;
        height: inherit;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        transform: rotate(-90deg);
    }

    .timeline-content p {
        display: none;
    }

    .item2 {
        padding-top: 6px;
    }

    .item3 {
        padding-top: 57px;
    }

    .timeline-item {
        width: 100px;
    }
}